[submodule "Express/expressjs.com/starter/installing/myapp"]
	path = Express/expressjs.com/starter/installing/myapp
	url = //ANDI1/Users/Public/Git/MyIT/Express/expressjs.com/starter/installing/myapp.git
[submodule "Wordpress/lysit.tech"]
	path = Wordpress/lysit.tech
	url = //ANDI1/Users/Public/Git/MyIT/Wordpress/lysit.tech.git
[submodule "Inertia/laravel-react"]
	path = Inertia/laravel-react
	url = //ANDI1/Users/Public/Git/MyIT/Inertia/laravel-react.git
[submodule "Inertia/laravel-vue"]
	path = Inertia/laravel-vue
	url = //ANDI1/Users/Public/Git/MyIT/Inertia/laravel-vue.git
[submodule "Next/nextjs.org/learn/dashboard-app/nextjs-dashboard"]
	path = Next/nextjs.org/learn/dashboard-app/nextjs-dashboard
	url = //ANDI1/Users/Public/Git/MyIT/Next/nextjs.org/learn/dashboard-app/nextjs-dashboard.git
[submodule "Next/nextjs.org/learn/pages-router/nextjs-blog"]
	path = Next/nextjs.org/learn/pages-router/nextjs-blog
	url = //ANDI1/Users/Public/Git/MyIT/Next/nextjs.org/learn/pages-router/nextjs-blog.git
