[submodule "Express/expressjs.com/starter/installing/myapp"]
	path = Express/expressjs.com/starter/installing/myapp
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Express/expressjs.com/starter/installing/myapp.git
[submodule "Wordpress/lysit.tech"]
	path = Wordpress/lysit.tech
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Wordpress/lysit.tech.git
[submodule "Inertia/laravel-react"]
	path = Inertia/laravel-react
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Inertia/laravel-react.git
[submodule "Inertia/laravel-vue"]
	path = Inertia/laravel-vue
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Inertia/laravel-vue.git
[submodule "Next/nextjs.org/learn/dashboard-app/nextjs-dashboard"]
	path = Next/nextjs.org/learn/dashboard-app/nextjs-dashboard
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Next/nextjs.org/learn/dashboard-app/nextjs-dashboard.git
[submodule "Next/nextjs.org/learn/pages-router/nextjs-blog"]
	path = Next/nextjs.org/learn/pages-router/nextjs-blog
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Next/nextjs.org/learn/pages-router/nextjs-blog.git
[submodule "Expo/chaicode.com/blog/building-full-stack-mobile-app-with-react-native-and-appwrite/chai-app"]
	path = Expo/chaicode.com/blog/building-full-stack-mobile-app-with-react-native-and-appwrite/chai-app
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/chaicode.com/blog/building-full-stack-mobile-app-with-react-native-and-appwrite/chai-app.git
[submodule "Expo/docs.expo.dev/tutorial/create-your-first-app/StickerSmash"]
	path = Expo/docs.expo.dev/tutorial/create-your-first-app/StickerSmash
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/tutorial/create-your-first-app/StickerSmash.git
[submodule "Expo/docs.expo.dev/my-app-v50"]
	path = Expo/docs.expo.dev/my-app-v50
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v50.git
[submodule "Expo/docs.expo.dev/my-app-v51"]
	path = Expo/docs.expo.dev/my-app-v51
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v51.git
[submodule "Expo/docs.expo.dev/my-app-v51-navigation"]
	path = Expo/docs.expo.dev/my-app-v51-navigation
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v51-navigation.git
[submodule "Expo/docs.expo.dev/my-app-v51-typescript"]
	path = Expo/docs.expo.dev/my-app-v51-typescript
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v51-typescript.git
[submodule "Expo/docs.expo.dev/my-app-v52"]
	path = Expo/docs.expo.dev/my-app-v52
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v52.git
[submodule "Expo/docs.expo.dev/my-app-v52-blank"]
	path = Expo/docs.expo.dev/my-app-v52-blank
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v52-blank.git
[submodule "Expo/docs.expo.dev/my-app-v52-tabs"]
	path = Expo/docs.expo.dev/my-app-v52-tabs
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v52-tabs.git
[submodule "Expo/docs.expo.dev/my-app-v52-typescript"]
	path = Expo/docs.expo.dev/my-app-v52-typescript
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v52-typescript.git
[submodule "Expo/docs.expo.dev/my-app-v53"]
	path = Expo/docs.expo.dev/my-app-v53
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v53.git
[submodule "Expo/docs.expo.dev/my-app-v53-blank"]
	path = Expo/docs.expo.dev/my-app-v53-blank
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v53-blank.git
[submodule "Expo/docs.expo.dev/my-app-v53-blank-typescript"]
	path = Expo/docs.expo.dev/my-app-v53-blank-typescript
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v53-blank-typescript.git
[submodule "Expo/docs.expo.dev/my-app-v53-tabs"]
	path = Expo/docs.expo.dev/my-app-v53-tabs
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Expo/docs.expo.dev/my-app-v53-tabs.git
[submodule "Next/nextjs.org/docs/app/getting-started/installation/my-app-router-v15"]
	path = Next/nextjs.org/docs/app/getting-started/installation/my-app-router-v15
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Next/nextjs.org/docs/app/getting-started/installation/my-app-router-v15.git
[submodule "Next/nextjs.org/docs/pages/getting-started/installation/my-pages-router-v15"]
	path = Next/nextjs.org/docs/pages/getting-started/installation/my-pages-router-v15
	url = ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Next/nextjs.org/docs/pages/getting-started/installation/my-pages-router-v15.git
[submodule "Laravel/laravel.com/docs/9.x/installation#getting-started-on-linux/example-app"]
	path = "Laravel/laravel.com/docs/9.x/installation#getting-started-on-linux/example-app"
	url = "ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Laravel/laravel.com/docs/9.x/installation#getting-started-on-linux/example-app.git"
[submodule "Laravel/laravel.com/docs/9.x/installation#your-first-laravel-project/example-app"]
	path = "Laravel/laravel.com/docs/9.x/installation#your-first-laravel-project/example-app"
	url = "ssh://andi@192.168.1.254/home/andi/Git/MyDocument/MyIT/Laravel/laravel.com/docs/9.x/installation#your-first-laravel-project/example-app.git"
